@use 'colors.scss';

.header{
    display: flex;
    max-width: 100rem;
    width: 100vw;
    height: 3.93rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.93rem;
    margin-bottom: 7.87rem;

    @media (max-width: 978px){
        margin-bottom: 3rem;
    }

    &__mobile{
        display: none;

        @media (max-width: 1200px){
            display: flex;

            img{
                width: 24px;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 1200px){
        justify-content: space-between;
        align-items: center;
        padding: 25px;
    }
    
    &__logo{
        width: 5.93rem;
        max-width: 100%;
    }

    &__menu{
        display: flex;
        align-items: center;  
        text-decoration: none;

        @media (max-width: 1200px){
            //display: none;
            
        }
        
        &__item{
            list-style: none;
            padding: 0.75rem 0.75rem 0.62rem;
            font-size: 0.87rem;
            font-weight: 700;
            text-transform: uppercase;

            @media (max-width: 1200px){
                display: none;
            }
                    
            a {
                text-decoration: none;
                color: colors.$corTextPrincipal;

                &:hover{
                    color: #1786eb;
                }
            }
        }
    }

    &__form{
        width: 20.93rem;
        height: 3.93rem;
        padding: 0.62rem;
        border-radius: 0.31rem 0 0 0.31rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1200px){
            display: none;
        }

        &__search{ 
            width: 17.93rem;
            height: 2.5rem;
            background-color: colors.$corDeFundo ;
            color: colors.$corTextoSecundario;
            padding: 0.62rem;
            border-radius: 0.31rem 0 0 0.31rem;

            &__img{
                width: 1.5rem;
                height: 1.5rem;
                border: 0;
                vertical-align: bottom;
                background-color: colors.$corDeFundo;
                border-radius: 0 0.31rem 0.31rem 0;
            }
            
        }
        button{
            width: 3rem;
            height: 2.5rem;
            border: 1px solid #707070;
            background-color: colors.$corDeFundo;
            border-left: none;
            border-radius: 0 0.31rem 0.31rem 0;
            cursor: pointer;
        }
    }
}