@use 'header.scss';
@use 'colors.scss';
@use 'hero.scss';
@use 'videos.scss';
@use 'poster.scss';
@use 'news.scss';
@use 'footer.scss';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}


